* {
  /* Xóa margin, padding và border mặc định */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
input,
button,
textarea,
select {
  font-family: inherit;
}
button {
  cursor: pointer;
}